{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <p>Salut {{ prenom }} {{ nom }}</p>

    <ul>
        {% for fruit in fruits %}
        <li>{{ fruit }}</li>
        {% endfor %}
    </ul>
{#    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/__symfony/first-project/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/__symfony/first-project/templates/main/index.html.twig'|file_link(0) }}">templates/main/index.html.twig</a></code></li>
    </ul>#}
</div>
    <div class="about-us">
        <h1>Bienvenue !</h1>
        <ul>
            {% for pers in tab %}
            {% for val in tab[pers] %}
            <li>{{ pers }} {{ val }}</li>
        </ul>
    </div>
{% endblock %}
